* {
    font-family: 'arial';
}

/*header sction*/
header {
    background-image: url('./images/banner/banner2.png');
    width: 1520px;
    height: 700px;
    background-size: 1520px 700px;
}

.header-item {
    text-align: right;
    padding: 200px 100px 50px 200px;
}

.header-h1 {
    font-size: 50px;
}

.header-para {
    padding: 0px 0px 0px 810px;
}

.header-cnt-btn {
    background-color: coral;
    width: 99px;
    height: 40px;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5%;
}

/*My Failure Section*/
.main-section {
    padding: 170px 50px 170px 300px;
}

.failure-section {
    display: flex;
    gap: 90px;
}

.failure-sec-h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    margin-right: 390px;
}

.failure-section-img {
    height: 600px;
}

.failure-writing-part {
    padding-top: 97px;
}

.failure-section-p {
    margin-right: 270px;
}

.failure-section-ul {
    list-style: none;
    padding-top: 10px;
    padding-left: 0px;
}

.ul-right-symbol {
    color: #06bc40;
}